arquivos/
capitulos/Cap02/data
capitulos/Cap03/data
capitulos/Cap04/data
capitulos/Cap05/data
capitulos/Cap06/data
capitulos/Cap07/data
capitulos/Cap08/data
capitulos/Cap09/data
capitulos/Cap10/data
capitulos/Cap11/data
capitulos/Cap11/anotacoes.txt
capitulos/Cap12/data
capitulos/Cap13/data
capitulos/Cap13/.ipynb_checkpoints